body {
    background-color: #ffffff;
}
a {
	margin: 0px;
	padding: 0px;

}
hr {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
}
.mainTable  th, td {

   padding-left: 3px;
   padding-right: 3px;
   text-align: center;
   overflow: hidden;
   border: 1px solid rgba(242, 242, 242, .8);
}
.mainTable {
    border-collapse: collapse;
	display: block;
	overflow-x: auto;
	width: auto;

}
.mainTable tr:hover {background-color: #b3d9ff}
.mainTable th {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
	min-width: 150px;
}
.errormsg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.bluemsg {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.mainContainer{
    background-color: #fff;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}
.tableContainer{
    background-color: #fff;
    margin: auto;
    width: 100%;
    border: 1px solid transparent;
    padding: 5px;
}