<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div class = "tableContainer">
    <table class = "mainTable" th:if="${message != 'Error: Incorrect template type'}" >
        <thead>
        <th>SHIPMENT ID </th>
        <th>Service provider </th>
        <th>Reason Code </th>
        <th>Stop number</th>
        <th>Status</th>
        <th>Date</th>
        <th>Error code</th>

        </thead>
        <tbody>
        <tr th:each="tableItem : ${tableList}">
            <td><a th:text="${tableItem.id}"></a></td>
            <td><a th:text="${tableItem.ServiceProvider}"></a></td>
            <td><a th:text="${tableItem.ReasonCode}"></a></td>
            <td><a th:text="${tableItem.stopNumber}"></a></td>
            <td><a th:text="${tableItem.uploadStatus}"></a></td>
            <td><a th:text="${tableItem.reasonCodeDate}"></a></td>
            <td><a th:text="${tableItem.errorMsg}"></a></td>
        </tr>
        </tbody>

    </table>
</div>
<br />

<div>
    <a href ="/">Back</a>
    <br />
    <br />
    <a href ="/sendTransmission">Send Transmission to OTM</a>
    <br />
    <br />
    <a href ="/exportData">Export to Excel</a>
</div>



</body>
</html>